# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it.

Numbers: integers, floats

Strings: text, or a list of characters

Lists: unordered collection of objects. Can be mixed objects

Tuples: like a list but immutable

Dictionaries: key value pairing of objects, unordered

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [11]:
start = 2

mult = start * 2
div = mult / 2
exp = div ** 6
sub = exp - 2

answer = sub + 38.25

print(answer)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [12]:
4 * (6 + 5) # Guess is 44

44

In [13]:
4 * 6 + 5 # Guess is 29

29

In [14]:
4 + 6 * 5 # Guess is 34

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [16]:
# Guess is float

tot = 3 + 1.5 + 4
type(tot)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [19]:
# Square root:

4 ** 0.5

# Or the built in math function
import math

math.sqrt(4)

2.0

In [55]:
# Square
var = 10

sq = var ** 2

# Or built in math

math.pow(var, 2)

100.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [22]:
s = 'Hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [23]:
s = 'hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [25]:
s = 'hello'
# print out the 'o'

# Method 1
print(s[4])

# Method 2
print(s[-1])

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [27]:
# Method 1

my_list = [0, 0, 0]
my_list

[0, 0, 0]

In [28]:
my_list = [0]
my_list = my_list * 3
my_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [29]:
list3 = [1, 2, [3, 4, 'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [31]:
list4 = [5, 3, 4, 6, 1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [33]:
d = {'simple_key' : 'hello'}

# Grab hello
hello = d['simple_key']
hello

'hello'

In [34]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

hello = d['k1']['k2']
hello

'hello'

In [42]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
hello = d['k1'][0]['nest_key'][1][0]
hello

'hello'

In [47]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

hello = d['k1'][2]['k2'][1]['tough'][2][0]
hello

'hello'

Can you sort a dictionary? Why or why not?<br><br>

No, dictionaries are unordered collections, mainly due to the 'key value' organization

They are 'mappings' not a sequence

## Tuples

What is the major difference between tuples and lists?<br><br>

Tupules are immutable (can't be changed, well elements in them can't)

How do you create a tuple?<br><br>

In [ ]:

# A list
my_list = [1, 2]

# A tuple
my_tuple = (1, 2)

## Sets

What is unique about a set?<br><br>

The fact that a set has a unique collection of elements. Can't repeat an element

Use a set to find the unique values of the list below:

In [48]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
2 > 3 # False

False

In [50]:
3 <= 2 # False

False

In [51]:
3 == 2.0 # False

False

In [52]:
3.0 == 3 # True

True

In [53]:
4**0.5 != 2 # False

False

Final Question: What is the boolean output of the cell block below?

In [54]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']  # 3 >= 4    False

False